h1 {
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #a7a4a4;
  margin-bottom: 30px;
  font-size: 3em;
}

div {
  margin-bottom: 20px;
  color: #d3ccc4;
}

div > label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

input[type="text"],
textarea {
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 3px solid #525151;
  color: #000000;
  display: block;
}

button {
  width: calc(100% - 30px);
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #9b9a99;
  color: #fff;
  margin-bottom: 20px;
  border: 3px solid black;
  border-color: #ffffff;
  text-align: center;
}

button:hover {
  background-color: #020202;
}

h2 {
  font-family: "Arial", sans-serif;
  color: #fffcfc;
  margin-bottom: 20px;
}

#searchInput {
  width: calc(100% - 30px);
  padding: 15px;
  border-radius: 10px;
  border: 3px solid #525151;
  color: #333;
  margin-bottom: 40px;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 3px solid #525151;
  color: #333;
}

body {
  background-color: #1f1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-bottom: 40px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px #ffffff;
}
#postList h2 {
  color: #333;
}
.posts-container {
  text-align: center;
}
#botaocriar {
  margin-left: 18px;
}
